<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>
<body style="padding: 0; margin: 0;">
    <div id="app"></div>
</body>